.navbar {
    background-color: #F1C40F;
}
.home {
    background-color: #F1C40F;
}
.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}
.Free_Lessons {
    background-color: aquamarine;

}
.Testymonis {
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-footer {
    background-color: black;
    color: white;
}